.Page {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 50px;
  margin-bottom: 42px;
}

.btn {
  background-color: #262052;
  color: white;
  border: #262052 2px solid;
  padding: 15px 32px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: 250ms;
  &:hover {
    background-color: #F3F3F3;
    color: #262052;
  }
}